body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

header {
    background-color: #058a2d;

    color: white;
    padding: 20px; /* Ajustando o padding */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.logo {
    margin-left: 20%;
    font-size: 24px;
}

nav {
    margin-right: 10%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    border: solid rgb(243, 243, 243) 2px;
}

nav ul li a:hover {
    background-color: #00ca3d;
}

.container {
    border: 2px solid #0056b3;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    max-width: 500px; /* Largura máxima do container */
    width: 80%; /* Largura do container */
    margin: 300px 300px 20px; /* Margem superior, inferior e centralização do container */
    box-sizing: border-box; /* Garante que a largura inclui a borda */
}



.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: inline-block;
    width: 150px;
}

input[type="text"],
select {
    width: calc(100% - 170px); /* Ajuste para o tamanho do input */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}
