body {
    font-family: Arial, sans-serif;
    /* margin: 0; */
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('banner.jpg'); /*caminho da sua imagem */
    background-size: contain;
    background-position: center; /* Para centralizar a imagem */
    background-repeat: no-repeat;
}

header {
    background-color: #058a2d;

    color: white;
    padding: 20px; /* Ajustando o padding */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.logo {
    margin-left: 20%;
    font-size: 24px;
}

nav {
    margin-right: 10%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    border: solid rgb(243, 243, 243) 2px;
}

nav ul li a:hover {
    background-color: #00ca3d;
}